<!DOCTYPE html>
<html>
  <head>
    <title>PresentSir</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= javascript_pack_tag 'main' %>
    <%= stylesheet_pack_tag 'main' %>
    <link href="https://fonts.googleapis.com/css?family=Muli|Alfa+Slab+One" rel="stylesheet"> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>
